.place__paragraphs-container{
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 26px;
}

@media screen and (max-width: 768px) {
  .place__paragraphs-container{
      gap: 25px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraphs-container{
      width: 100%
  }
}