.lead{
    max-width: 1280px;
    width: 76.87vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
    .lead{
        max-width: 1024px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .lead{
        width: 100vw;
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 320px) {
    .lead{
        max-width: 320px;
        padding-bottom: 64px;
    }
}

