.place__link{
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 1.22;
    list-style: none;
    text-decoration: underline;
    border: solid blue;

}

@media screen and (max-width: 768px) {
    .place__link{
        max-width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .place__link{
        max-width: 288px;
    }
}