.cover__title {
  margin: 0 auto 32px;
  padding: 0;
  position: relative;
  text-align: center;
  color: #FFFFFF;
  font-size: 72px;
  line-height: 1.05;
  font-weight: 900;
  max-width: 560px;
}

@media screen and (max-width: 756px) {
  .cover__title {
    line-height: 1.09;
    font-size: 9.375vw;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    margin: 0 auto 16px;
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
  }
}